<template>
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>Cripta {{ nombreCripta }}</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Aceptar</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Información</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th @click="ordenar('codigo')" id="codigo" >Código</th>
                                        <th @click="ordenar('responsable')" id="responsable">Responsable</th>
                                        <th @click="ordenar('precio')" id="precio">Precio</th>
                                        <th @click="ordenar('descripcion')" id="descripcion">Descripción</th>
                                        <th @click="ordenar('disponibles')" id="disponibles">Disponibles</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in criptas.data" :key="item.id">
                                        <th scope="row">{{ item.codigo }}</th>
                                        <td>{{ item.responsable }}</td>
                                        <td>{{ item.precio_format }}</td>
                                        <td>{{ item.descripcion }}</td>
                                        <td>{{ item.disponibles }}</td>
                                        <td>
                                            <span>
                                                <button type="button" @click="abreModal(item)" title="Editar" class="btn btn-link" data-toggle="modal" data-target="#modalFormulario"><i class="fa fa-edit"></i></button>
                                            </span>
                                            <span>
                                                <button type="button" @click="eliminar(item,'delete')" title="Eliminar" class="btn btn-link"><i class="fa fa-trash-o"></i></button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation example" class="row" style="float:right;">
                                <div class="pagination">
                                    <div class="table_info"> Mostrar: </div>
                                    <div style="width: 70px;">
                                        <select class="custom-select" v-model="show">
                                            <option value="10" selected>10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                    <div class="table_info"> <span v-text="from" >1</span> - <span v-text="to" >10</span> de <span v-text="total" >100</span> </div>
                                    
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination" style="float: right;">
                                            <li v-if="filtros.page == 1"  class="page-item disabled">
                                                <a class="page-link disabled" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                                            </li>
                                            <li v-else  class="page-item">
                                                <span @click="cambiaPagina('anterior')" tabindex="0" class="page-link" >Anterior</span>
                                            </li>

                                            <li :class="pag.activo" v-for="(pag, i) in paginas" :key="i">
                                                <span @click="cambiaPagina(pag.pagina)" tabindex="0" class="page-link" >{{ pag.pagina }}</span>
                                            </li>
                                            
                                            <li v-if="criptas.last_page == filtros.page" class="page-item disabled">
                                                <span class="page-link">Siguiente</span>
                                            </li>
                                            <li v-else class="page-item">
                                                <span class="page-link" @click="cambiaPagina('siguiente')">Siguiente</span>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Notify from '../../../plugins/notify';

export default {
    data(){
        return{
            nombreCripta: "",


            loading     : true,
            base_url    : '/api/criptas',
            criptas     : [],
            //tituloModal : "",
            //rol         : 'usuario',
            filtros:{
                /* cliente_id  : null,
                rol_id      : null,
                nombre      : "",
                correo      : "",
                telefono    : "",
                activo      : null, */
                order       : "desc",
                order_by    : "id",
                page        : 1,
                show        : 10,
            },
            cripta:{
                id              : 0,
                codigo          : "",
                responsable     : "",
                beneficiario    : "",
                beneficiario_dos: "",
                precio          : "",
                ubicacion       : "",
                descripcion     : "",
                vacantes        : 1,
                ocupado         : false,
            },
            paginas : [],
            show    : 10,        
            to      : 0,
            from    : 0,
            total   : 0,
        }
    },
    watch:{
        show: function(val) {
            this.filtros.show = val;
            this.filtros.page = 1;
            this.listar();
        }
    },
    methods: {
        async listar(accion = ''){
           /*  if(accion != '')
                document.getElementById("btnCerrarBusqueda").click(); */

            try{
                const res = await axios.get(this.base_url +'/find', { params: this.filtros });
                this.criptas    = res.data;
                this.to         = res.data.to == null ? 0 : res.data.to;
                this.from       = res.data.from == null ? 0 : res.data.from;
                this.total      = res.data.total;
                this.paginas    = [];
                
                for (let i = 1; i <= res.data.last_page; i++) {
                    let activo = 'page-item';

                    if(i == res.data.current_page)
                        activo = 'page-item active';
                    
                    if(res.data.last_page > 4){
                        if(res.data.current_page <= 3){
                            if(i <= 5)
                                this.paginas.push({ pagina: i, activo: activo });                           
                            else if( i == 6)
                                this.paginas.push({ pagina: '...', activo: activo });
                            else if(i == res.data.last_page)
                                this.paginas.push({ pagina: i, activo: activo });
                        }
                        else{
                            if( i == ( res.data.current_page -2)){                                    
                                this.paginas.push({ pagina: 1, activo: activo});
                                this.paginas.push({ pagina: '...', activo: activo });
                            }
                            if( i == (res.data.current_page - 1) || i == res.data.current_page || i == (res.data.current_page +1) )
                                this.paginas.push({ pagina: i, activo: activo });
                            
                            if( i == ( res.data.current_page  + 2)){
                                this.paginas.push({ pagina: '...', activo: activo});
                                this.paginas.push({ pagina: res.data.last_page, activo: activo });
                            }
                        }
                    }
                    else{
                        this.paginas.push({ pagina: i, activo: activo }); 
                    }
                }
                /* this.loading = false; */
            }
            catch(error){
                /* this.respuestaError(error); */
            }
        },
        ordenar(column){
            let row     =  document.getElementsByClassName("sorting");
            let order   = 'asc';

            if(row.length > 0){
                order = row[0].className.includes('asc') ? 'desc' : 'asc';
                const items = document.querySelectorAll('.sorting');
                for (let i = 0; i < items.length; i++) {
                    items[i].className = '';
                }
            }
            document.getElementById(column).classList.add('sorting');
            document.getElementById(column).classList.add(order);
            this.filtros.order      = order;
            this.filtros.order_by   = column;
            this.filtros.page       = 1;
            this.listar();
        },
        cambiaPagina(pag){
            if(pag == '...')
                return;
                
            if(pag == 'anterior')
                this.filtros.page = this.filtros.page  - 1;
            else if(pag == 'siguiente')
                this.filtros.page = this.filtros.page  + 1;
            else
                this.filtros.page = pag;

            this.listar();
        },
        eliminar(item){
            Notify.Alert(
                "¿Estás seguro de eliminar?",
                "Esta acción <b>no se podra revertir.</b>",
                "Eliminar",
                () => {
                    axios.post(this.base_url + '/delete', {id:item.id})
                    .then(response => {
                        Notify.Success("Operación exitosa", "Se ha eliminado satisfactoriamente");
                        this.listar();
                    })
                    .catch(error => {
                        let mensaje = "";
                        
                        if(typeof(error.response.data.error) === 'string'){
                            mensaje = error.response.data.error;
                        }
                        else{
                            let errores = Object.values(error.response.data.error);
                            mensaje = ``;

                            for (var i = 0; i < errores.length; i++) {
                                mensaje+= `* ` + errores[i] + `\n`;
                            }
                        }

                        Notify.ErrorToast(mensaje)
                    });
                },
                null,
                true,
                true
            )
        },
        detalle(item){
            console.log(item);
            //window.location.href = "/criptas/detalles/"+ item.id;
        }
    },
    mounted() {
        this.nombreCripta = document.getElementById("codigoCripta").value;
        this.listar();
    }
}
</script>