.body-login{
    background: url("../img/fondo.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:20%;
    padding: 0;
}

.divFormLogin{
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
    min-height: 300px;
    width:30%;
    margin: auto;
}
.formLogin{
    margin-top: 8%;
}

.user-img{
    margin-top: -150px;
    margin-bottom: 0px;
}

.imgAvatar{
    margin-top: -15%;
}

.user-img img{
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.inputLogin input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
}

.inputLogin::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:4px;
}

.form-group#divUsuario::before{
    content: "\f007";
}

.form-group#divPass::before{
    content: "\f023";
}

.btnLogin{
    width: 60%;
    margin: 5px 0 25px;
}

.recordar{
    padding: 5px 0;
    padding-bottom: 25px;;
}

.recordar a{
    color: white;
}

.errorLogin{
    font-family: "Font Awesome\ 5 Free";
    color: red;
    font-size: 15px;
    padding-top:4px;
}

.borderError{
    border-color: red;
}

/*  Css para tablas */
.table_info {
    margin-top: 10px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.asc:after {
    content: ' ↑';
}

.desc:after {
    content: " ↓";
}
/*  Css para tablas */

